// Colors
$primary: #02325f;
$primary-lighter: #05729b;
$primary-darker: #30577c;
$secondary: #f4f6f5;
$secondary-darker: #b1b5b7;

$font-light: 100;
$font-regular: 400;
$font-medium: 600;
$font-bold: 800;
